* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
  }

  p {
    font-family: "Source Code Pro", Arial, serif;
    font-weight: 500;
    font-size: 13px;
    color: #c0c0c0;
  }

  h3 {
    font-family: "Source Code Pro", Arial, serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.7;
    color: #c21616;
  }
  
  body {
    background: url("/img/index.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Space Mono", Arial, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #4d4d4d;
    cursor: pointer;
  }
  .content p {
    width: 800px;
    line-height: 26px;
    font-size: 18px;
    text-align: justify;
  }

  .profile-card {
    justify-content: center;
    text-align: center;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .card-header {
    height: 100vh;
    background: hsla(0, 41%, 3%, 0.588);
    padding: 206px 40px;
  }
  
  .pic {
    display: inline-block;
    padding: 4px;
    background: linear-gradient(130deg, #c21616, #200909);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
  }
  
  @keyframes animated-gradient {
    25% {
      background-position: left bottom;
    }
    50% {
      background-position: right bottom;
    }
    75% {
      background-position: right top;
    }
    100% {
      background-position: left top;
    }
  }
  
  .pic img {
    display: flex;
    width: 160px;
    height: 160px;
    border-radius: 50%;
  
  }

  .name {
    color: #ffffff;
    font-size: 40px;
    font-family: "Kaushan Script", cursive;
    font-style: italic;
    font-weight: 500;
    margin: 10px 0;
  }

  .sm a {
    width: 56px;
    font-size: 52px;
    transition: 0.3s linear;
  }
  
  .sm a:hover {
    color: #c21616;
  }

  .linkedin-button {
    width: 150px; /* Largeur de votre choix */
    height: 40px; /* Hauteur de votre choix */
    background-image: url(/img/LinkedIn_Logo.svg.png);
    background-size: cover; /* Ajuste la taille de l'image pour remplir le bouton */
    border: none; /* Supprime la bordure par défaut */
    cursor: pointer; /* Change le curseur au survol */
    transition: transform 0.2s ease-in-out; /* Effet de transition */
  }

  .linkedin-button:hover {
    transform: scale(1.1); /* Zoom in sur le bouton */
}

  .contact-btn {
    display: inline-block;
    padding: 12px 30px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: 2px solid #d11a1a;
    border-radius: 25px;
    margin-top: 20px;
    transition: 0.3s linear;
  }
  
  .contact-btn:hover {
    background: #c21616;
    color: #ffffff;
    font-weight: 600;
    border: 2px solid #d11a1a;
  }
  
  .numbers {
    display: flex;
    align-items: center;
  }
  
  .item {
    flex: 1;
    text-transform: uppercase;
    font-size: 13px;
    color: #ffffff;
    font-weight: 550;
  }
  
  .item span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
  }
  
  .border {
    width: 1px;
    height: 30px;
    background: #bbb;
  }
